BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
AllowShortFunctionsOnASingleLine: All
AllowShortLambdasOnASingleLine: All
BraceWrapping:
  AfterFunction: false
  AfterClass: false
BreakBeforeBraces: Attach