# Vscode config
.vscode

# build files
build/
cmake.db

#docs
docs/

# imGUI config files
imgui.ini

# TODO
todo.txt
todo.md
todo
TODO
.todo

# Debug outputs
profile_results.json
profiler_n_frames.json

heightmap_chunk*.bmp

# Vcpkg
vcpkg_installed/

# Visual Studio
.vs/voxel-eng/FileContentIndex
.vs/voxel-eng/v17/

.vs/CMake Overview
.vs/slnx.sqlite*

.vs/voxel-eng/copilot*
